.app {
  text-align: center;
  margin-top: 50px;
}

.jogo {
  display: inline-block;
  border: 2px solid #000;
  padding: 20px;
  border-radius: 10px;
}

.status, .resultado {
  margin-bottom: 20px;
}

.acoes button {
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

.acoes button:hover {
  background-color: #45a049;
}